<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>投票ページ</title>
  </head>
  <body>
    <form method="post">
      <input type="text" method="post" name="data[Member][email]" />
      <input type="password" method="post" name="data[Member][password]" />
      <input type="submit" mathod="post">
    </form>
    <a><p>ログアウトする</p></a>
    <div class="section">
      <p>投票完了</p><!--ここを動的に動かしたい-->
    </div>
  </body>
</html>